@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Geist+Mono:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: tomato;
}
ul{
    display: flex;
}

li:hover{
    transform: rotateX(360deg);
    
}

li{
    border: 2px solid white;
    padding: 2rem;
transition: transform 3000ms ease-in-out;
}

a{
    color: white;
    font-size: 2rem;
transition: color 350ms ease-in-out;
}

a:hover{
    color: gold;
}